@media all and (max-width: 1000px){
    .header-list{
        display:none;
    }
    .ACheader-list{
        display:block;
    }
    .menu{
        display: none;
    }
    .menu-icon{
        display:block;
    }
    .shinyu{
        width: 100%;
        margin-bottom: 20px;
    }
    .yuzuki{
        width: 100%;
        clear: both;
        margin-bottom: 20px;
    }
    .card{
        width: 50%;
    }
}
@media (max-width: 670px){
    .members-wrapper h1{
        font-size: 24px;
    }
    .message-wrapper h2{
        font-size: 21px;
    }
    .message-wrapper h3{
        font-size: 18px;
    }
    .message-wrapper p{
        font-size: 15px;
        line-height: 25px;
    }
    .shinyu-message{
        clear: both;
    }
    .shinyu-message h3{
        padding-top: 10px;
        text-align: start;
    }
    .yuzuki-message{
        clear: both;
        padding-top: 10px;
    }
    .yuzuki-message h3{
        text-align: start;
    }
    .box{
        width: 300px;
        margin: 0 0;
    }
    .card{
        width: 100%;
    }
    .contact iframe{
        width: 330px;
    }
}
